/* general styling for the page with the background */

body {
    background: url("../images/city\ background.jpg");
    width: 100%;
    height: 100%;
    margin: auto 0;
    font-family: 'Lalezar', cursive;
}



/* sets the styling for the big logo of the game  */

#logo {
    height: 240px;
    Width: 500px;
    margin-top: 20px;
    margin-left: 0;
}




/* sets the padding for the container of the bootstrap rows/columns */

.container {
    padding: 10px;
}




/* styling for the boxes with the number of guesses, incorrect letters guessed, and the word that the player is trying to guess */

#guesses, #lettersGuessed, #guessesLeft {
    height: 40px;
    font-size: 25px;
    font-family: 'Baloo Bhai', cursive;
}




/* styling for the display of wins and losses that the user has acquired */

#wins, #losses {
    color: #d3ad03;
    font-size: 35px;
    font-family: 'Baloo Bhai', cursive;
}




/* styling for the instructions of the game "press any key" */

h1 {
    color: #540564;
}




/* styling for "explore the neighborhood" */

h2 {
    color: #9e150b;
}




/* styling for number of guesses and incorrect guesses */

h4 {
    color: #065674;
}